.bord {
  border: 2px solid aqua;
}

body {
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

p {
  color: black;
}

.container {
  width: 960px;
  display: flex;
}

.section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header.section {
  background-color: black;
}

.title {
  background-color: transparent;
  padding: 0.66rem 0;
  text-align: left;
}

.title img {
  height: 1.5rem;
  padding: 0 1rem 0 0.5rem;
}

.banner {
  height: 25rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mainbanner {
  padding-top: 9rem;
}

#mainbanner-470 {
  display: none;
}

.bannertextbox {
  padding: 2rem 3rem;
  width: 20rem;
  height: 5.5rem;
  background-color: black;
  text-align: left;
  display: flex;
  flex-flow: nowrap column;
}

.bannertextbox h2 {
  padding-bottom: 0.25rem;
}

.menu {
  background-color: firebrick;
}

.navlinks {
  padding: 0.75rem 0;
  justify-content: space-between;
}

.navlinks-1024 {
  display: none;
}

.gallery {
  padding: 3rem 0;
  justify-content: space-between;
}

.gallerybox {
  width: 30%;
  border-width: 4px 4px 0 4px;
  border-style: solid;
  border-color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: nowrap column;
}

.gallerybox img {
  padding: 2rem 0;
  height: 9rem;
  width: auto;
}

.gallerywidthfix {
  padding: 2rem 0;
  height: 9rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallerywidthfix img {
  height: auto;
  width: 100%;
}

.gallery .textbox {
  padding: 0.5rem 0;
  text-align: center;
  background: black;
  width: 100%;
}

.lochours {
  display: inline-flex;
  justify-content: space-between;
}

.lochoursbox {
  width: 35%;
}

.lochours .textbox {
  padding: 1rem 2rem;
  background-color: black;
}

.lochours p {
  padding-top: 0.1rem;
  padding-bottom: 0.5rem;
}

.footer {
  margin-top: 3.5rem;
  background-color: black;
  height: 5rem;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }

  .container {
    width:90%;
  }

  .bannertextbox.container {
    width: 75%;
  }

  .gallerybox {
    width: 47%;
  }

  #glasses {
    display: none;
  }

  .navlinks {
    display: none;
  }

  .navlinks-1024 {
    display: block;
    padding: 0.75rem 0;
    text-align: center;
  }

}

@media only screen and (max-width: 470px) {
  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 0.77rem;
  }

  .container {
    width: 100%;
  }

  .bannertextbox.container {
    width: 100%;
  }

  .title {
    justify-content: center;
  }

  .title span {
    display: none;
  }

  #mainbanner {
    display: none;
  }

  #mainbanner-470 {
    display: flex;
    flex-flow: nowrap column;
  }

  .banner {
    height: 10rem;
    width: 100%;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bannertextbox {
    padding: 1rem 2rem;
    height: 5rem;
    justify-content: center;
  }

  .gallery {
    justify-content: center;
  }

  .gallerybox {
    width: 90%;
  }

  #watch {
    display: none;
  }

  .copyright {
    justify-content: center;
  }

  .lochours {
    display: inline-flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .lochoursbox {
    width: 90%;
  }

  .lochoursbox .textbox {
  }

}
